@charset "UTF-8";
.elementor #dabba-carto img {
  height: inherit; }

#dabba-carto {
  font-family: "Montserrat", Sans-serif; }
  #dabba-carto.alignfull img {
    width: inherit; }
  #dabba-carto #mapid {
    height: 600px; }
  #dabba-carto #restaurants-list {
    overflow-y: scroll;
    height: 600px; }
    #dabba-carto #restaurants-list > div:first-child {
      @apply mt-0; }
  #dabba-carto .zones > a {
    color: #5f5f5f; }
    #dabba-carto .zones > a:before {
      content: '';
      width: 3rem;
      height: 3rem;
      display: inline-block;
      background-image: url("../img/pin2.png");
      background-size: contain;
      background-repeat: no-repeat; }
    #dabba-carto .zones > a.active {
      color: #F99664; }
  #dabba-carto .restaurant_card .img {
    height: 16rem !important;
    width: 16rem !important; }
  #dabba-carto .restaurant_card .name {
    color: #F99664; }
  #dabba-carto .restaurant_card .address {
    font-size: 0.9rem;
    color: #5f5f5f; }
  #dabba-carto .restaurant_card.active {
    background: #F99664; }
    #dabba-carto .restaurant_card.active a {
      color: white; }
    #dabba-carto .restaurant_card.active .name {
      color: white;
      font-weight: bold; }
  #dabba-carto .restaurant_card a {
    color: #F99664; }
    #dabba-carto .restaurant_card a:before {
      content: '→'; }
  #dabba-carto .content {
    background: #F99664; }
  #dabba-carto .leaflet-popup-content .bg-cover {
    background-image: var(--bg-image); }
