@charset "UTF-8";
.elementor #dabba-carto img {
  height: inherit; }

form#filter .multiselect-wrap {
  @apply rounded-full m-auto sm:shadow-xl sm:border-0 border mb-6 sm:mb-0; }

form#filter .multiselect-selected {
  line-height: 35px; }
  form#filter .multiselect-selected span {
    @apply rounded-full; }

#dabba-carto {
  font-size: 1.4rem;
  font-family: "Montserrat", Sans-serif; }
  #dabba-carto input.hidden {
    display: none; }
  #dabba-carto.alignfull img {
    width: inherit; }
  #dabba-carto #mapid {
    height: 600px; }
  #dabba-carto #restaurants-list {
    overflow-y: scroll;
    height: 600px; }
    #dabba-carto #restaurants-list > div:first-child {
      @apply mt-0; }
  #dabba-carto .zones > a {
    display: inline-block;
    color: #5f5f5f; }
    #dabba-carto .zones > a:before {
      content: '';
      width: 3rem;
      height: 3rem;
      display: inline-block;
      background-image: url("../img/pin2.png");
      background-size: contain;
      background-repeat: no-repeat; }
    #dabba-carto .zones > a.active {
      color: #F99664; }
  #dabba-carto .restaurant_card img {
    height: 16rem !important;
    width: 16rem !important; }
  #dabba-carto .restaurant_card .name {
    color: #F99664; }
  #dabba-carto .restaurant_card .address {
    color: #5f5f5f; }
  #dabba-carto .restaurant_card.active {
    background: #F99664; }
    #dabba-carto .restaurant_card.active a {
      color: white; }
    #dabba-carto .restaurant_card.active .name {
      color: white;
      font-weight: bold; }
  #dabba-carto .restaurant_card a {
    color: #F99664; }
    #dabba-carto .restaurant_card a:before {
      content: '→';
      margin-right: 0.5rem; }
  #dabba-carto .content {
    background: #F99664; }
  #dabba-carto .leaflet-popup-content .bg-cover {
    background-image: var(--bg-image); }
